body {
    background-color:black
}

p {
    font-style:normal;
    font-size:medium;
    color: white;
    font-stretch: extra-condensed;
}
.elemento {
    background-image:url("IMGHTML/LOGOLOUD.png");
    background-position: center;
    background-repeat: no-repeat;
}
